In [1]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import LogisticRegression
import pickle

In [2]:
cols = ['target', 'id', 'date', 'flag', 'user', 'text']
dataframe=pd.read_csv('../../Sentiment.csv', encoding='ISO-8859-1', names=cols)
dataframe = dataframe[['target', 'text']]

In [3]:

print(dataframe.head(200))

     target                                               text
0         0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1         0  is upset that he can't update his Facebook by ...
2         0  @Kenichan I dived many times for the ball. Man...
3         0    my whole body feels itchy and like its on fire
4         0  @nationwideclass no, it's not behaving at all....
..      ...                                                ...
195       0       didn't get shit done today ~ i'm so screwed
196       0                                 wanttss to go out
197       0                     Is not going to sleep tonite.
198       0             too worried and tired to post tonight
199       0     couldn't get shit done today ~ i'm so screwed

[200 rows x 2 columns]

In [10]:
dataframe.tail()

         target                                               text
1599995       4  Just woke up. Having no school is the best fee...
1599996       4  TheWDB.com - Very cool to hear old Walt interv...
1599997       4  Are you ready for your MoJo Makeover? Ask me f...
1599998       4  Happy 38th Birthday to my boo of alll time!!! ...
1599999       4  happy #charitytuesday @theNSPCC @SparksCharity...

In [4]:
dataframe.size

3200000

In [5]:
import re
import nltk
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer


nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\VICTUS\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [6]:
port_stem = PorterStemmer()

def stemming(content):
    
    cleaned_content = re.sub('[^a-zA-Z]', ' ', content)

    
    cleaned_content = cleaned_content.lower()

    cleaned_content = cleaned_content.split()

    
    cleaned_content = [port_stem.stem(word) for word in cleaned_content if not word in stopwords.words('english')]

   
    cleaned_content = ' '.join(cleaned_content)

    return cleaned_content

In [12]:
Anotherdataframe = dataframe.copy()

In [22]:
negative_data = Anotherdataframe[Anotherdataframe['target'] == 0]
positive_data = Anotherdataframe[Anotherdataframe['target'] == 4]

neg_sample = negative_data.sample(n=50000, random_state=42)
pos_sample = positive_data.sample(n=50000, random_state=42)

mixed_df = pd.concat([neg_sample, pos_sample])
final_dataset = mixed_df.sample(frac=1, random_state=42).reset_index(drop=True)

final_dataset.head(6)

   target                                               text
0       4                       @stargazer60 that's awesome
1       4                   @cunningstunts22  yes... i am!
2       0                            N my bed aaallll alone
3       4  @Thorney88 re guinea fowl ive heard that lots ...
4       4                    def going to the movies tonite
5       4  @MikePaetzold from http://bit.ly/15LN6p  may i...

In [23]:
final_dataset.size

200000

In [29]:
final_dataset['cleaned_text'] = final_dataset['text'].apply(stemming)

In [27]:
final_dataset.head()

,target,text,cleaned_text
0,4,@stargazer60 that's awesome,stargaz awesom
1,4,@cunningstunts22 yes... i am!,cunningstunt ye
2,0,N my bed aaallll alone,n bed aaallll alon
3,4,@Thorney88 re guinea fowl ive heard that lots ...,thorney guinea fowl ive heard lot peopl dislik...
4,4,def going to the movies tonite,def go movi tonit

In [28]:
final_dataset.size

300000

In [20]:
final_dataset.to_csv('CleanData', index=False)